<%- include('../partials/header') %>
  <h1>Skills</h1>
  <ul>
    <% skills.forEach(function(skill, idx) { %>
      <li>
        <a href="/skills/<%= idx %>"><%= skill.skill %></a>
      </li>
    <% }); %>
  </ul>
  <a href="/skills/new">Add Skill</a>
<%- include('../partials/footer') %>